* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

@media(max-width:700px) {
  .main-head {
    font-size: 30px !important;
  }

  .home-banner {
    text-align: center;
    align-items: center !important;
  }

  .sec-section {
    text-align: center;
  }

  .third-section {
    width: 100% !important;
  }

  .contact-photo {
    width: 100% !important;
  }

  .contact-input {
    width: 70% !important;
  }

  .contents {
    font-size: 13px !important;
  }

  .contents2 {
    font-size: 11px !important;
  }

  .headings {
    font-size: 20px !important;
  }
  .AdmissionBox{
    width: 97% !important;
  }
  .displayNone{
    display: none;
  }
  .campusImgs{
    width: 50% !important;
  }
}